{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style>
    .badge-warning {
      background-color: #f0ad4e;
    }
    .badge-info {
      background-color: #5bc0de;
    }
    .timed-exam-notice {
      background-color: #fff3cd;
      border: 1px solid #ffeeba;
      border-left: 5px solid #ffc107;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 4px;
    }
    .sequential-exam-notice {
      background-color: #d1ecf1;
      border: 1px solid #bee5eb;
      border-left: 5px solid #17a2b8;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 4px;
    }
  </style>
</head>
<br><br>
<div class="container my-4">
    <div class="jumbotron">

	      <h3 class="text-info text-center">Before you start the Exam, here are the rules</h3>

        <div class="row">

            <div class="card border-info mx-4 my-4">
                <div class="card-body text-info">

                    <h4 class="card-title">Exam Details :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Exam Name : {{course.course_name}}</li>
                            <li>Total Question : {{total_questions}}</li>
                            <li>Total Marks : {{total_marks}}</li>
                            {% if course.is_timed %}
                            <li>Time Limit : <span class="badge badge-warning">{{course.total_time_minutes}} minutes</span></li>
                            {% endif %}
                            {% if course.sequential_questions %}
                            <li>Question Display : <span class="badge badge-info">Sequential</span></li>
                            {% endif %}
                        </ul>
                    <p></p>

                    {% if course.is_timed %}
                    <div class="timed-exam-notice">
                      <h4><i class="glyphicon glyphicon-time"></i> Timed Exam Notice</h4>
                      <p>This is a timed exam with a limit of <strong>{{course.total_time_minutes}} minutes</strong>.</p>
                      <p>The exam will be automatically submitted when the time expires.</p>
                      <p>Time per question: <strong>{{ time_per_question }}</strong> seconds</p>
                    </div>
                    {% endif %}

                    {% if course.sequential_questions %}
                    <div class="sequential-exam-notice">
                      <h4><i class="glyphicon glyphicon-sort-by-order"></i> Sequential Questions</h4>
                      <p>Questions will be displayed one at a time.</p>
                      <p>Each question has a time limit. If you don't answer within the time limit, the exam will automatically move to the next question.</p>
                      {% if course.allow_backtracking %}
                      <p>You <strong>can</strong> go back to previous questions.</p>
                      {% else %}
                      <p>You <strong>cannot</strong> go back to previous questions.</p>
                      {% endif %}
                    </div>
                    {% endif %}

                    <h4 class="card-title">Rules :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>All questions are multiple choice question.</li>
                            <li><span class="text-danger">Only one choice is correct.</span></li>
                            <li>Every question carry different marks</li>
                            {% if course.is_timed %}
                            <li><strong>You have {{course.total_time_minutes}} minutes to complete the entire exam.</strong></li>
                            {% endif %}
                            {% if course.sequential_questions %}
                            <li><strong>Questions are shown one at a time with individual timers.</strong></li>
                            {% endif %}
                            <li>Try to answer as quickly as you can.</li>
                            <li>If you press refresh or go back to the previous page, there will be a new question for you and the question you were on will be counted as attempted.</li>
                            <li>Questions are displayed randomly for every user.</li>
                            <li>You will be told your marks immediately when you submit the answer.</li>
                        </ul>
                    <p></p>
                    <a href="{% url 'start-exam' course.id  %}" class="btn btn-info">Let's Start</a>
                </div>  
                <div class="card-footer">Best Of Luck</div>  
            </div>  
        </div>  

    </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}