Django==5.1.7
django-appconf==1.1.0
django-crispy-forms==1.14.0
django-cryptography-django5==2.2
django-sql-explorer==5.3
django-widget-tweaks==1.4.8
docx2txt==0.8
gunicorn==21.2.0
pillow==10.2.0
psutil==5.9.6
psycopg2-binary==2.9.10
PyPDF2==3.0.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.1
whitenoise==6.9.0
dj-database-url==2.1.0
requests==2.31.0
openai==1.13.3
pandas==2.2.3
numpy==1.26.4
gevent==23.9.1

# Optional packages - comment out if issues arise
# django-debug-toolbar==4.3.0

